
.grids {
  display: inline-block;
  float: left;
}


.col-1 {
  background-color: black;
  height: 30vh;
  width: 30vw;
}
.col-2 {
  background-color: gray;
  height: 30vh;
  width: 30vw;
  margin-left: 30vw;
  margin-top: -30vw;
}
.col-3 {
  background-color: red;
  height: 30vh;
  width: 30vw;
}
.col-4 {
  background-color: orange;
  height: 30vh;
  width: 30vw;
  margin-left: 30vw;
  margin-top: -30vw;
}
.col-5 {
  background-color: Gold;
  height: 30vh;
  width: 30vw;
}
.col-6 {
  background-color: yellow;
  height: 30vh;
  width: 30vw;
  margin-left: 30vw;
  margin-top: -30vw;
}
.col-7 {
  background-color: GreenYellow;
  height: 30vh;
  width: 30vw;
}
.col-8 {
  background-color: green;
  height: 30vh;
  width: 30vw;
  margin-left: 30vw;
  margin-top: -30vw;
}
.col-9 {
  background-color: MediumTurquoise;
  height: 30vh;
  width: 30vw;
}
.col-10 {
  background-color: blue;
  height: 30vh;
  width: 30vw;
  margin-left: 30vw;
  margin-top: -30vw;
}
.col-11 {
  background-color: purple;
  height: 30vh;
  width: 30vw;
}
.col-12 {
  background-color: navy;
  height: 30vh;
  width: 30vw;
  margin-left: 30vw;
  margin-top: -30vw;
}
