
.grids {
  display: inline-block;
  text-align: center;
}


.col-1 {
  background-color: black;
  height: 3vh;
  width: 3vw;
}
.col-2 {
  background-color: gray;
  height: 3vh;
  width: 3vw;
  margin-left: 3vw;
  margin-top: -3vw;
}
.col-3 {
  background-color: red;
  height: 3vh;
  width: 3vw;
  margin-left: 6vw;
  margin-top: -3vw;
}
.col-4 {
  background-color: orange;
  height: 3vh;
  width: 3vw;
  margin-left: 9vw;
  margin-top: -3vw;
}
.col-5 {
  background-color: Gold;
  height: 3vh;
  width: 3vw;
  margin-left: 12vw;
  margin-top: -3vw;
}
.col-6 {
  background-color: yellow;
  height: 3vh;
  width: 3vw;
  margin-left: 15vw;
  margin-top: -3vw;
}
.col-7 {
  background-color: GreenYellow;
  height: 3vh;
  width: 3vw;
  margin-left: 18vw;
  margin-top: -3vw;
}
.col-8 {
  background-color: green;
  height: 3vh;
  width: 3vw;
  margin-left: 21vw;
  margin-top: -3vw;
}
.col-9 {
  background-color: MediumTurquoise;
  height: 3vh;
  width: 3vw;
  margin-left: 24vw;
  margin-top: -3vw;
}
.col-10 {
  background-color: blue;
  height: 3vh;
  width: 3vw;
  margin-left: 27vw;
  margin-top: -3vw;
}
.col-11 {
  background-color: purple;
  height: 3vh;
  width: 3vw;
  margin-left: 30vw;
  margin-top: -3vw;
}
.col-12 {
  background-color: navy;
  height: 3vh;
  width: 3vw;
  margin-left: 33vw;
  margin-top: -3vw;
}
