

$pad: 20px;

.grid {
  background: black;
  margin: 0 0 $pad 0;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

[class*='col-'] {
	float: left;
  padding-right: $pad;
  .grid &:last-of-type {
  	padding-right: 0;
  }
}

.col-1-8 {
	width: 10.5%;
  margin-top: 5%;
}
.offense {
  background-color: white;
}
.defense {
  background-color: gray;
}
.module {
  padding: $pad;
  background: #eee;
}


.grid-pad {
  padding: $pad 0 $pad $pad;
  [class*='col-']:last-of-type {
    padding-right: $pad;
  }
}

body {
	padding: 10px 50px 200px;
  background: url(https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Carolina_Panthers_logo.svg/1280px-Carolina_Panthers_logo.svg.png);
  background-size: 300px 300px;
}
h1 {
  color: black;
  em {
  	color: #666;
    font-size: 16px;
  }
}
